@model _01.MovieApp.Models.MovieCreateViewModel
<style>
    .dropdown-disp#stud {
        display: inline;
    }
</style>

@using (Html.BeginForm("CreateMovie", "Movies", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Movie</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Year, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="studioId">Studio:</label>
                @Html.DropDownList("studioId", new SelectList(Model.Studios, "Id", "Name"), new { @class = "dropdown-disp" });
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="directorId">Director:</label>
                @Html.DropDownList("directorId", new SelectList(Model.Directors, "Id", "Name"), new { @class = "dropdown-disp" });
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="maleId">Male Lead:</label>
                @Html.DropDownList("maleId", new SelectList(Model.MaleLeads, "Id", "Name"), new { @class = "dropdown-disp" });
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="femaleId">Female Lead:</label>
                @Html.DropDownList("femaleId", new SelectList(Model.FemaleLeads, "Id", "Name"), new { @class = "dropdown-disp" });
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Create" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

